{% extends "layout.html" %} {% block body %}
<div class="form">
    <h5 style="color:red;font-size:12px;">{{ a_message }}</h5>
    <br />
  <form method="post">
    <div class="names">
      <input id="names" type="text" name="firstname" placeholder="First Name"/>
      
      <input type="text" name="lastname" placeholder="Last Name"/>
  </div>
      <br />
    <input type="text" name="username" placeholder="Username"/>
    <br />
    <button type="submit">Sign Up</button>
  </form>
  <h5>Already signed up? <a href="{{ url_for('signin') }}">Sign In</a></h5>
</div>


{% endblock %}
